## MAC OS
.DS_Store
.com.apple.timemachine.supported

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## REDCAR
.redcar

## VIM
*.swp
*.swo

## RUBYMINE
.idea

## PROJECT::GENERAL
coverage
pkg
.rvmrc
.bundle
.yardoc/*
dist
Gemfile.lock
gemfiles/*.lock
tmp
log
config/application.yml

## Rubinius
.rbx

## Bundler binstubs
bin

## ripper-tags and gem-ctags
tags

## PROJECT::SPECIFIC
.project
