<p style="padding-left: 25px">Hello <%= user.email %>,</p>

<p style="padding-left: 25px">Someone has requested a link to change your password. You can do this through the link below.</p>

<p style="padding-left: 25px"><a href="<%= Figaro.env.app_url %>/passwords?token=<%= user.reset_password_token %>">Change my password</a></p>

<p style="padding-left: 25px">If you didn't request this, please ignore this email.</p>
<p style="padding-left: 25px">Your password won't change until you access the link above and create a new one.</p>

<p style="padding-left: 25px">Please feel free to contact us should you have any questions.</p>
